$light_blue_theme: lightblue;
$green_theme:#3CBC8D;

h1{
  border : {
    color: beige;
    border: 2px;
  }
  background-color: transparent;
  color: $green_theme;
}
body {

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  width: 100%;
}
li {
  min-width:90px;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  width: 100%;
}
/* Change the link color on hover */
li a:hover {
  background-color: $green_theme;
  color: white;
  border-radius: 25px 50px;
}
li:active {
  background-color: lightcoral;
  border-radius: 25px 50px;

}
.active {
  font-weight: bold;
  width: 100%;
}
.nav {
  width:100%;
  display:flex;
  background-color: $light_blue_theme;
  border-radius: 25px 50px;

}
.container-fluid{
   padding: 30px;
   overflow: hidden;
  }
.nav li {
    margin-left: 4%;  /* Magic! */
}
.button {
  border: 1px solid darkcyan;
  padding:10px;
  background-color: $light_blue_theme;
  font-weight: bold;
  font-size: 12px;
  margin-left:20px;
  border-radius: 25px;
  outline: none;

}

.button:hover
{
  border-radius: 25px;
  background-color:$green_theme;
  outline:none;
}

.input {
  padding: 10px;
  background-color: $light_blue_theme;
  border:none;
  margin-left: 20px;
  border-radius: 25px;
  min-width:300px;
}
.input:focus{
  outline: none;
  background-color:$green_theme;

}
.label {
  font-family: "Arial";
  font-size: 13px;
  color: #3CBC8D;
}
.form-containter {
  padding:10px;
}
.img {
  border-radius: 50%;  /* Rounded border */
  padding: 3px; /* Some padding */
  width: 70px; /* Set a small width */
  height: 70px; /* Set a small width */

}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.header-home{
  background-image: url("/public/assets/twitter.png");
  width:100%;
}