h1{
  border : {
    color: beige;
    border: 2px;
  }
  background-color: transparent;
  color: aquamarine;
}
body {
  background:url("../assets/Twitter-Logo-Evolution.jpg");
  overflow: hidden;
  min-height: 100px;
}
