h1{
  border : {
    color: beige;
    border: 2px;
  }
  background-color: transparent;
  color: #3CBC8D;
}
body {

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #3CBC8D;
  color: white;
}
.active {
  font-weight: bold;
}
.nav {
  width:100%;
  display:flex;
  background-color: lightblue;
  border-radius: 25px 50px;

}
.container-fluid{
  //background:url("../assets/Twitter-Logo-Evolution.jpg");
  overflow: hidden;
  }
.nav li {
    margin-left: 4%;  /* Magic! */
}
.button {
  border: 1px solid darkcyan;
  padding:10px;
  background-color: lightblue;
  font-weight: bold;
  font-size: 12px;
  margin-left:20px;
  border-radius: 25px;

}
.button:active {
  border-radius: 25px;
  background-color:#3CBC8D;
  outline:none;
}
.input {
  padding: 10px;
  background-color: lightblue;
  border:none;
  margin-left: 20px;
  border-radius: 25px;

}
.input:focus{
  outline: none;
  background-color:#3CBC8D ;

}
.label {
  font-family: "Arial";
  font-size: 13px;
  color: #3CBC8D;
}
.form-containter {
  padding:10px;
}